<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>
		News Events Demo
	</title>
	<style>
		/* ----------------------------------------------------------------------
		   TODO - place this in separate css file.
			<link rel='stylesheet' ref='{{ asset('css/news.css.twig') }} />
		* ----------------------------------------------------------------------*/
		body {
			font-family: sans-serif;
			margin:0;
			padding:0;
		}
		li	{
			font-size:20px;
		}
		p {
			margin:3px 0px 1em 1.5em;
		}
		h1 {
			font-weight:normal;
			margin:15px 0px 0px 0px;
			padding:0px 10px;
		}
		h2.banner {
			font-weight:normal;
			margin:0;
			padding:10px;
			width:100%;
			background:#999;
		}
	</style>
</head>
