{{ include('head.html.twig') }}

<body>
	<h2 class='banner'>News events digest</h2>
	<h1>{{year}}</h1>

	{% block content %}
		<ul>
		{% for eventId, event in yearsEvents %}
			<li>{{ event.heading }}</li>	
				<p>	{{ event.synopsis }} </p>
		{% endfor %}
		</ul>
	{% endblock %}

</body>
</html>
