{{ include('head.html.twig') }}

<body>
{% block body %}
<h2 class='banner'>News events digest</h2>

{% if ( year ) %}
	<h3>Currently there are no events for {{ year }}</h3>
{% else %}
	<p>Sorry, the year should be 4 digits. e.g. 2011 for example</p>
{% endif %}

{% endblock %}
</body>
</html>
